<div class="modal-container">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">GUIDANCE</h3>
        </div>        
        <div class="modal-body" id="modal-body">
            <p ng-bind-html="text"></p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submit()">Ok</button>
        </div>
                
</div>