<div class="questionaire-page">
    <nav class="navbar navbar-inverse">
        <!-- top bar -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                      TBLaw
                    </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span ng-if="guide">{{guide.name}}</span></a></li>
                </li>
            </ul>
        </div>
        <!-- show the guide title -->
        <!-- share link -->

        <!-- top bar end -->
    </nav>

    <div class="container-fluid">
        <!-- body container -->
        <div class="row">
            <!-- left side bar -->
            <div class="col-sm-3 col-lg-2">
                <div class="tblaw_leftbar">
                    <ul class="list-group" ng-if="question_states.length > 0 && configuration.enable">
                        <li class="list-group-item" ng-repeat="question_row in question_states track by $index" ng-click="clickQuestion(question_row, $index)">
                            <span class="name" ng-class="{ 'active-question': state == question_row.name, 'not-clickable-question': question_row.visited == false && state != question_row.name}">{{question_row.name}}</span>
                            <span ng-if="question_row.answered"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-if="question_row.visited && !question_row.answered && !question_row.has_skipped"><i class="glyphicon glyphicon glyphicon-pencil"></i></span>
                            <span ng-if="question_row.has_skipped">( Skipped )</span>
                        </li>
                    </ul>
                    <!-- list out questions here -->
                    <!-- if un touch cannot click, if touch can go back and change it -->
                </div>
            </div>
            <!-- left side bar end -->

            <!-- right side bar -->
            <div class="col-sm-9 col-lg-10">
                <!-- depending on question type, set container to on or off -->
                <!-- @start container -->
                <div ng-if="configuration.enable && output.enable && output.values.length == 0 && !isEnd">
                    <!-- save the action, question # and submit to api -->
                    <h1>{{configuration.start.title}}</h1>
                    <p>{{configuration.start.description}}</p>
                    <button class="btn btn-primary" ng-click="startNext()">Start Questionaire</button>
                </div>
                <!-- @start container end -->

                <!-- @next container -->
                <div ng-if="ready && configuration.enable && output.enable && output.values.length > 0 && configuration.states[state] && configuration.states[state].type == 0 && !configuration.states[state].multiple && !configuration.states[state].blank && !configuration.states[state].info && !isEnd">
                    <!-- save the action, question # and submit to api -->
                    <h1>{{configuration.question[findQuestion(configuration.states[state].question_id)].name}}</h1>
                    <p>{{configuration.question[findQuestion(configuration.states[state].question_id)].body}}</p>
                    <button class="btn btn-primary" ng-click="next()">Next</button>
                </div>
                <!-- @next container end -->

                <!-- @next container -->
                <div ng-if="configuration.states[state].multiple && ready && configuration.enable && output.enable && output.values.length > 0 && configuration.states[state] && configuration.states[state].type == 0 && !configuration.states[state].blank && !configuration.states[state].info && !isEnd"
                    ng-init="currentState = configuration.states[state]">
                    <!-- save the action, question # and submit to api -->
                    <h1>{{configuration.question[findQuestion(currentState.question_id)].name}}</h1>
                    <div ng-if="currentState.multiple;">
                        <ol ng-init="nextAction = currentState.next_action; answers = configuration.answer;">
                            <li ng-repeat="option in multipleOptions[state]; track by $index" type="A">
                                <label ng-if="!option.isOther" style="font-weight: normal;">
                                    <input ng-if="option.inputType=='checkbox'" type="checkbox" ng-model="multipleAnswers[state][$index].isChecked" value="{{multipleAnswers[state][$index].isChecked}}" ng-change="validateMultipleAnswers()" /> 
                                    <input ng-if="option.inputType=='radio'" type="radio" ng-model="multipleAnswers[state]" value="{{multipleAnswers[state][$index].isChecked}}" ng-change="validateMultipleAnswers()" />
                                    {{option.option}}
                                    <button ng-if="option.guidance" class="btn btn-info" ng-click="info(option.guidance)"><i class="glyphicon glyphicon-info-sign"></i></button>
                                </label>
                                <label ng-if="option.isOther" style="font-weight: normal;">
                                    <input type="checkbox" ng-model="multipleAnswers[state][$index].isChecked" ng-change="validateMultipleAnswers()" />
                                    Other:
                                </label>
                                <textarea ng-if="option.isOther && multipleAnswers[state][$index].isChecked" ng-model="multipleAnswers[state][$index].option" rows="5" class="form-control" style="max-width: 670px;" ng-keyup="validateMultipleAnswers()"></textarea>
                            </li>
                        </ol>
                    </div>
                    <button class="btn btn-primary" ng-disabled="!allowMultipleAnswersNext" ng-init="validateMultipleAnswers()" ng-click="next()">Next</button>
                </div>
                <!-- @next container end -->

                <!-- @result container -->
                <div ng-if="isEnd">
                    <!-- save the action, question # and submit to api -->
                    <h1>Result</h1>
                    <br>
                    <div ng-repeat="answerValue in output.values track by $index">
                        <h3>{{answerValue.state}}</h3>
                        <p ng-if="answerValue.questionGuidance!='' && answerValue.questionGuidance.length>0"><i>Info: {{answerValue.questionGuidance}}</i></p>
                        <div ng-if="configuration.states[answerValue.state].multiple && answerValue.value.length > 1">
                            <ol>
                                <li ng-repeat="answervalue in answerValue.value; track by $index" ng-if="answervalue.option!=''" type="A">

                                    <label ng-if="!answervalue.isOther" style="font-weight: normal;">
                                        <span ng-if="answervalue.isChecked" class="glyphicon glyphicon-check"></span>
                                        <span ng-if="!answervalue.isChecked" class="glyphicon glyphicon-unchecked"></span>
                                        {{answervalue.option}}
                                    </label>
                                    <label ng-if="answervalue.isOther && answervalue.option!=''" style="font-weight: normal; vertical-align: top;">
                                        <span ng-if="answervalue.isChecked" class="glyphicon glyphicon-check"></span>
                                        <span ng-if="!answervalue.isChecked" class="glyphicon glyphicon-unchecked"></span>
                                        Other:
                                        <div ng-if="nextaction.option!=''" class="form-control" style="width: 100%; height: auto; max-width: 670px;">
                                            {{answervalue.option}}
                                        </div>
                                    </label>
                                </li>
                            </ol>
                        </div>

                        <div ng-if="!configuration.states[answerValue.state].multiple">
                            <p ng-if="!answerValue.isArrayValue && answerValue.value && answerValue.questionGuidance==''">{{answerValue.value}}</p>
                            <div ng-if="answerValue.isArrayValue">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-bordered table-responsive table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-capitalize" ng-repeat="questionData in answerValue.questionData">{{questionData.name}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="answerValueData in answerValue.value track by $index" ng-init="outerIndex=$index">
                                                <td ng-repeat="questionData in answerValue.questionData track by $index">
                                                    <span ng-if="answerValueData[questionData.name]">
                                                        <span ng-if="questionData.name=='yes' && answerValueData[questionData.name]==outerIndex" class="label label-primary">Selected</span>
                                                    <span ng-if="questionData.name!='yes'">{{answerValueData[questionData.name]}}</span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <hr ng-if="!$last" />
                        <br ng-if="$last">
                    </div>

                </div>
                <!-- @result container end -->

                <!-- @blank container -->
                <div ng-if="ready && configuration.enable && output.enable && output.values.length > 0 && configuration.states[state] && configuration.states[state].type == 0 && !configuration.states[state].multiple && configuration.states[state].blank && !isEnd">
                    <!-- save the action, question # and submit to api -->
                    <h1>{{configuration.question[findQuestion(configuration.states[state].question_id)].name}}</h1>
                    <p>{{configuration.question[findQuestion(configuration.states[state].question_id)].body}}</p>
                    <textarea class="blank-textarea w-100 form-control" ng-model="blankText" rows="10"></textarea>
                    <br/>
                    <br/>
                    <button class="btn btn-primary" ng-disabled="blankText.length < 1" ng-click="blankNext(blankText)">Next</button>
                </div>
                <!-- @blank container end -->

                <!-- @info container -->
                <div ng-if="ready && configuration.enable && output.enable && output.values.length > 0 && configuration.states[state] && configuration.states[state].type == 0 && !configuration.states[state].multiple && configuration.states[state].info && !isEnd">
                    <!-- save the action, question # and submit to api -->
                    <h1>{{configuration.question[findQuestion(configuration.states[state].question_id)].name}}</h1>
                    <p>{{configuration.question[findQuestion(configuration.states[state].question_id)].body}}</p>
                    <button class="btn btn-primary" ng-click="next()">Next</button>
                    <button class="btn btn-info" ng-click="info(configuration.question[findQuestion(configuration.states[state].question_id)].guidance)">Info</button>
                </div>
                <!-- @info container end -->

                <!-- @table container -->
                <div ng-if="ready && configuration.enable && output.enable && output.values.length > 0 && configuration.states[state] && configuration.states[state].type == 1 && !isEnd">
                    <h1 ng-init="q1 = findQuestion(configuration.states[state].question_id)">{{configuration.question[q1].name}}</h1>
                    <!-- save the action, question # and submit to api -->
                    <button class="btn btn-sm btn-primary" ng-click="addTable(configuration.question[q1].data)">Add</button>
                    <br/><br/>
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered table-responsive table-hover table-striped">
                            <thead>
                                <tr>
                                    <th ng-repeat="th in configuration.question[q1].data  track by $index">{{th.name}}</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in tableRows">
                                    <td ng-repeat="tr in configuration.question[q1].data track by $index">
                                        {{row[tr.key_name]}}
                                    </td>
                                    <td><button class="btn btn-sm btn-primary" ng-click="removeTableRow($index)">Remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-primary" ng-disabled="tableRows.length < 1" ng-click="next()">Next</button>
                </div>
                <!-- @table container end -->

                <!-- @mixtable container -->
                <div ng-if="ready && configuration.enable && output.enable && output.values.length > 0 && configuration.states[state] && configuration.states[state].type == 2 && !isEnd" ng-init="validChooseQuestion2 = prevQuestionFilled(configuration.states[state])">
                    <div ng-if="validChooseQuestion2 == true">
                        <h1 ng-init="q2 = findQuestion(configuration.states[state].question_id)">{{configuration.question[q2].name}}</h1>
                        <!-- has prev state filled -->
                        <!-- save the action, question # and submit to api -->
                        <br/><br/>
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-responsive table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th ng-repeat="th2 in configuration.question[q2].data">{{th2.name}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(rowIndex2, row2) in tableRows">
                                        <td ng-repeat="tr2 in configuration.question[q2].data">
                                            <span ng-if="row2[tr2.key_name]">{{row2[tr2.key_name]}}</span>
                                            <span ng-if="row2[tr2.key_name] == undefined"><button class="btn btn-sm btn-primary" ng-click="addMixField(rowIndex2, tr2)">Add {{tr2.name}}</button></span>
                                            <span ng-if="row2[tr2.key_name] && tr2.state == 'new'"><button class="btn btn-sm btn-primary" ng-click="removeMixField(rowIndex2, tr2)">Remove {{tr2.name}}</button></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-primary" ng-disabled="tableRows.length != numMixFields" ng-click="next()">Next</button>
                        <!-- has prev state filled ends -->
                    </div>
                    <div ng-if="validChooseQuestion2 == false">
                        Sorry, you can't answer this question until you fill in the question {{beforeQuestion}}.
                    </div>
                    <!-- save the action, question # and submit to api -->
                </div>
                <!-- @mixtable container end -->

                <!-- @choosetable container -->
                <div ng-if="ready && configuration.enable && output.enable && output.values.length > 0 && configuration.states[state] && configuration.states[state].type == 3 && !isEnd" ng-init="validChooseQuestion = prevQuestionFilled(configuration.states[state])">
                    <!-- save the action, question # and submit to api -->
                    <div ng-if="validChooseQuestion == true" ng-init="q3 = findQuestion(configuration.states[state].question_id)">
                        <h1>{{configuration.question[findQuestion(configuration.states[state].question_id)].name}}</h1>
                        <!-- has prev state filled -->
                        <!-- save the action, question # and submit to api -->
                        <!-- <button class="btn btn-sm btn-primary" ng-click="addTable(configuration.question[findQuestion(configuration.states[state].question_id)].data)">Add</button> -->
                        <br/><br/>
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-responsive table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th ng-repeat="th in configuration.question[q3].data  track by $index">{{th.name}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(rowIndex, row) in tableRows">
                                        <td ng-repeat="tr in configuration.question[q3].data">
                                            <span ng-if="row[tr.key_name] && tr.state == 'old'">{{row[tr.key_name]}}</span>
                                            <span ng-if="row[tr.key_name] == undefined"><button class="btn btn-sm btn-primary" ng-click="chooseField(rowIndex, tr)">Choose</button></span>
                                            <span ng-if="row[tr.key_name] != undefined && tr.state == 'new'"><button class="btn btn-sm btn-danger" ng-click="removeChoosenField(rowIndex, tr)">Unselect</button></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-primary" ng-disabled="chooseFields == false" ng-click="next()">Next</button>
                        <!-- has prev state filled ends -->
                    </div>
                    <div ng-if="validChooseQuestion == false">
                        Sorry, you can't answer this question until you fill in the question {{beforeQuestion}}.
                    </div>
                </div>
                <!-- @choosetable container end -->
            </div>
            <!-- right side bar end -->
        </div>
        <!-- body container end -->
        <div class="clear"></div>
    </div>
</div>